extends layout

block title
	h1(class="nobreak captialize")=title.toLowerCase()

block content
	h2 District Information
	div(class="panel panel-default")
		div(class="panel-heading")
			a(class="header-link") District
		div(class="panel-content")
		div(class="list-group")
		- for(area in district){
			a(href="/areas/"+area.replace('/', '-') class="list-group-item captialize")=area.toLowerCase()
		- }

	h2 Totals
	- for(var t = 0; t < data.length; t++){
	- //Table for each transfer
	table(class="table table-hover data-table")
		thead
			tr
				th Submitted
				- for(var i = 0; i < config.length; i++){
				th=config[i].name
				- }
		tbody
			- for(var i = 0; i < data[t].length; i++){
			tr
				td=data[t][i]['$']
				- for(var j = 0; j < config.length; j++){
				td=data[t][i][config[j]['shortname']]+' ('+Math.round((data[t][i][config[j]['shortname']]/numComps)*100)/100+')'
				- }
			- }
	- }