extends layout

block title
	h1 Import from iMOS

block content
	div(class="panel panel-default")
		div(class="panel-heading")
			h3(class="panel-title") Import Current Organization - Excel Roster Report
		div(class="panel-body")
			p Generate area list from the Current Organization - Excel iMOS report.  Used by most reports.
			form(action="/import/roster", method="post", enctype="multipart/form-data")
				div(class="btn-group" role="group")
					span(class="btn btn-default btn-file") Browse
						input(type="file", class="btn btn-default", name="uploadroster", id="uploadroster")
					input(type="submit" class="btn btn-primary" value="Upload" name="Upload")
	div(class="panel panel-default")
		div(class="panel-heading")
			h3(class="panel-title") Import Transfer Board Data
		div(class="panel-body")
			p Import the current organization data from the iMOS transfer board.  Used to generate transfer calls and SMRs.
			form(action="/import/board", method="post", enctype="multipart/form-data")
				div(class="btn-group" role="group")
					span(class="btn btn-default btn-file") Browse
						input(type="file", class="btn btn-default", name="uploadtransferboard", id="uploadtransferboard")
					input(type="submit" class="btn btn-primary" value="Upload" name="Upload")
	div(class="panel panel-default")
		div(class="panel-heading")
			h3(class="panel-title") Import Transfer Planning Report
		div(class="panel-body")
			p Import the Transfer Planning Report from iMOS.  Used to generate SMRs.
			form(action="/import/transfer-planning", method="post", enctype="multipart/form-data")
				div(class="btn-group" role="group")
					span(class="btn btn-default btn-file") Browse
						input(type="file", class="btn btn-default", name="uploadtransferplanning", id="uploadtransferplanning")
					input(type="submit" class="btn btn-primary" value="Upload" name="Upload")