extends layout

block title
	h1 Import from iMOS

block content
	div(class="panel panel-default")
		//div(class="panel-heading")
			h3(class="panel-title") Import Areas from iMOS
		div(class="panel-body")
			p Generate area list from the Microsoft Excel Companionship Roster.
			form(action="/import", method="post", enctype="multipart/form-data")
				div(class="btn-group" role="group")
					span(class="btn btn-default btn-file") Browse
						input(type="file", class="btn btn-default", name="uploadroster", id="uploadroster")
					input(type="submit" class="btn btn-primary" value="Upload" name="Upload")