extends layout

block title
	h1=title

block content
	form(class="form-horizontal", action="/numbers/keyindicators/edit/"+id, method="get")
		div(class="form-group")
			label(for="name" class="col-sm-2 control-label") Name
			div(class="col-sm-10")
				input(name="name" type="text" class="form-control" value=name required)
		div(class="form-group")
			label(for="shortname" class="col-sm-2 control-label") Short Name
			div(class="col-sm-10")
				input(name="shortname" type="text" class="form-control" value=shortname required)
		div(class="form-group")
			div(class="col-sm-2")
			div(class="col-sm-10")
				input(name="submit" type="submit" class="btn btn-primary")