@media print{

	body {
		padding: 0mm;
		font: 6pt "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	canvas {
		width: 100%;
		height: auto;
		padding-top: 3%;
	}

	img.smr {
		width: .65in;
		height: .9in;
		padding: 0px;

	}

	div.smr {
		font: 10pt "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	.no-print{
		display: none;
	}

	.print-break{
		page-break-before: always;
	}

	.print-break-after{
		page-break-after: always;
	}

	.print-together{
        page-break-inside: avoid;
	}
}